<!DOCTYPE html>
<html lang="en" ng-app='doStuff'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <title>Do Stuff</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="do_stuff/css/style.css">
</head>
<body ng-controller="doStuffController as doStuffCtrl">
<h1 id="main-heading">Do Stuff</h1>
<div class="container-fluid">
  <div class="row container-fluid centred-container">
    <section class="container-fluid" id="new-task">
      New stuff:<br />
      <form name="newTaskForm" class="flex-v-center" role="form" ng-submit="submitForm(newTaskForm.$valid)" novalidate>
        <section class="form-group">
          <section class="input-group">
            <input type="text" name="task" class="form-control" ng-model="doStuffCtrl.newTaskDesc" required/>
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary" ng-click="doStuffCtrl.newTask()" ng-disabled="newTaskForm.$invalid"><i class="glyphicon glyphicon-plus"></i></button>
            </span>
          </section>
        </section>
      </form>
    </section>
  </div>
  <div class="row container-fluid centred-container">
    <section class="container-fluid" id="task-box">
      <div class="row container-fluid centred-container">
        <section id="task-list" ng-show="doStuffCtrl.tab === 1" ng-repeat="task in doStuffCtrl.toDoList">
          <section ng-if="task.isCompleted === false">
            <section id="items" class="row">
              <section id="list-item" class="col-xs-10 col-sm-11"><strong>{{task.desc}}</strong></section>
              <section id="complete-button" class="col-xs-1">
                <button type="button" class="btn btn-default" id="complete-button" ng-click="doStuffCtrl.completeTask(task)">x</button><br />
              </section>
            </section>
          </section>
        </section>
      </div>
      <div class="row container-fluid centred-container">
        <section id="task-list" ng-show="doStuffCtrl.tab === 2" ng-repeat="task in doStuffCtrl.toDoList">
          <section ng-if="task.isCompleted === true">
            <section id="items" class="row">
              <section id="list-item" class="col-xs-10 col-sm-11" ng-class="{'completed-item':task.isCompleted === true}"><strong>{{task.desc}}</strong></section><br />
            </section>
          </section>
        </section>
      </div>
      <div class="row container-fluid centred-container">
        <section id="task-list" ng-show="doStuffCtrl.tab === 3" ng-repeat="task in doStuffCtrl.toDoList">
          <section id="items" class="row">
            <section id="list-item" class="col-xs-10 col-sm-11" ng-class="{'completed-item':task.isCompleted === true}"><strong>{{task.desc}}</strong></section>
            <section id="complete-button" class="col-xs-1">
              <button type="button" class="btn btn-default" id="complete-button" ng-show="task.isCompleted === false" ng-click="doStuffCtrl.completeTask(task)">x</button><br />
            </section>
          </section>
        </section>
      </div>
    </section>
  </div>
</div>
<section class="total-container">
  <div class="row container-fluid centred-container">
    <section class="container-fluid" id="outstanding-total">
      {{doStuffCtrl.sumActive()}} stuff left to do.
    </section>
  </div>
</section>
<footer class="footer">
  <div class="row container-fluid centred-container">
    <section class="container-fluid" id="tabs" class="col-xs-4">
      <div class="col-xs-3 tab-buttons">
        <button type="button" class="btn btn-primary btn-block" ng-class="{active:doStuffCtrl.tab===1}" ng-click="doStuffCtrl.tab=1">ToDo</button>
      </div>
      <div class="col-xs-3 tab-buttons">
        <button type="button" class="btn btn-primary btn-block" ng-class="{active:doStuffCtrl.tab===2}" ng-click="doStuffCtrl.tab=2">Done</button>
      </div>
      <div class="col-xs-3 tab-buttons">
          <button type="button" class="btn btn-primary btn-block" ng-class="{active:doStuffCtrl.tab===3}" ng-click="doStuffCtrl.tab=3">Show All</button>
      </div>
      <div class="col-xs-3 tab-buttons">
        <button type="button" class="btn btn-primary btn-block" ng-class="{active:doStuffCtrl.tab===4}" ng-click="doStuffCtrl.tab=4; doStuffCtrl.deleteAllTasks()">Clear All</button>
      </div>
    </section>
  </div>
</footer>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="do_stuff/js/app.js"></script>
<script src="do_stuff/js/doStuffController.js"></script>
</body>
</html>